@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Contact Page"
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kyiv, Ukraine<br />
    <abbr title="Phone">P:0681345998</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:elenad.moroz@gmail.com">elenad.moroz@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:elenad.moroz@gmail.com">elenad.moroz@gmail.com</a>
</address>